<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new category</title>
    <link rel="stylesheet" href="/pretty.css">
</head>
<body>
<h2 class="header">Add Category</h2>
<form action="#" th:action="@{/addCategory}" th:object="${category}" method="post">
    <table class="table">
        <tr>
            <td>Category:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
            </td>
        </tr>
    </table>
</form>
<p class="hint" th:text="${message}"/>
</body>
</html>