<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CRUD catalog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <base href="/">
    <title>Catalog</title>
    <link rel="stylesheet" href="/pretty.css">
</head>
<body>
<div class="btnsLine">
    <a class="frmBtn" href="/addProduct">Create</a>
    <a class="frmBtn" href="/addCategory">Add category</a>
</div>
<div>
    <form class="btnsLine" th:action="@{/findProduct}" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="category" placeholder="Category">
        <input class="frmBtn orange" type="submit" value="Filter"/>
    </form>
</div>
<div class="table">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Categories</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="product : ${products}">
            <tr>
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td>
                    <th:block th:each="category : ${product.getCategories()}">
                        <span th:text="${category.name}"></span>
                    </th:block>
                </td>

                <td><a class="fn edit" th:href="@{/editProduct(id=${product.id})}" title="Edit">&rsaquo;</a></td>
                <td><a class="fn delete" th:href="@{/deleteProduct(id=${product.id})}" title="Delete">&times;</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>